@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";
@use "@material/card";

@include card.core-styles;

.mdc-card-content {
    padding: 16px;
}

.mdc-card {
    height: 200px;
    width: 200px;
    background: #0277bd;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }